{% extends 'base.html.twig' %}
{% block title %}New Employee{% endblock %}

{% block body %}


  
   <!-- Registration -->
  
     <body class="dark">

    <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-home relative" style="background-image: url('img/banner.jpg');">
                    <div class="overlay"></div>

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title home text-center">
                                   
<div>
<h1>Create new Employee</h1>

    {{ include('crud/_form.html.twig') }}

    <a href="{{ path('crud_index') }}">back to list</a>     
  </div> 
                            </div> <!-- /.col-xs-12 -->

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->

       
{% endblock %}